@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.Publishing {
    font-family: 'Prompt', sans-serif;
    width: 100%;
    /* background: rgba(0,0,0,1); */
    /* background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cheap_diagonal_fabric.png); 
    background-blend-mode: multiply;
    mix-blend-mode: multiply; */
    color: #ffffff;
    padding: 7.5% 0;
    background: linear-gradient(212deg, #000000, #2d2929);
background-size: 400% 400%;
animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@keyframes AnimationName {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
.PublishingInner {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    /* align-items: center; */
}



.PublishingInner p {
    text-align: justify;
    padding: 2em 4rem 4em;
    font-size: 1.5vw;
}

.PublishingInner .upperContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2em 4em;
}

.PublishingInner .upperContent iframe {
    display: block;
    width: 100%;
    max-width: 560px;
    height: auto;
}

.PublishingInner iframe {
    border: none;
} 


.vimeoWrapper {
    position: relative;
    padding:56.25% 0 0 0;
    width: 80%;
    margin: 0 auto;

}

.vimeoWrapper .iframe {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 800px) {
    .PublishingInner p {
        font-size: 3vw;
        padding: 2em 0rem 4em;
    }
}
    

@media screen and (max-width:1024px) {
    .PublishingInner p {
        font-size: 2vw;
        padding: 2em 0rem 4em;
    }

    .PublishingInner .upperContent {
        flex-direction: column;
    }

    .PublishingInner .upperContent img {
        margin-bottom: 3em;
    }




}

@media screen and (max-width:1200px) {
    .PublishingInner .upperContent {
        justify-content: space-between;

    }
}


/* body { margin: 0; position: fixed; overflow: hidden; }
div { float: left; width: 50vw; height: 100vh; text-align: center; font-family: sans-serif; font-weight: bold; font-size: 8vw; color: rgba(54, 54, 54, 0.3); line-height: 100vh;} */


